@keyframes show-toast {
    0% {
        bottom: -100%;
    }

    20% {
        bottom: 100px;
    }

    80% {
        bottom: 100px;
    }

    100% {
        bottom: -100%;
    }
}


.show-notification {
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 8s;
    z-index: 99;

}

.btn {
    padding: 2px 1.75em;
    font-size: 12px;

}







.g-blue {
    color: #4285F4;
}

.o-red {
    color: #DB4437;
}

.o-yellow {
    color: #F4B400;
}

.l-green {
    color: #0F9D58;
}

.e-red {
    display: inline-block;
    transform: rotate(-20deg);
}


.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 5px 15px;
    font-size: 12px;
    cursor: pointer;
}

/* Green */
.success {
    border-color: #04AA6D;
    color: green;
}

.success:hover {
    background-color: #04AA6D;
    color: white;
}

/* Blue */
.info {
    border-color: #2196F3;
    color: dodgerblue
}

.info:hover {
    background: #2196F3;
    color: white;
}

/* Orange */
.warning {
    border-color: #ff9800;
    color: orange;
}

.warning:hover {
    background: #ff9800;
    color: white;
}

/* Red */
.danger {
    border-color: #f44336;
    color: red
}

.danger:hover {
    background: #f44336;
    color: white;
}

/* Gray */
.default {
    border-color: #e7e7e7;
    color: black;
}

.default:hover {
    background: #e7e7e7;
}

.main-search.fancy .field-holder input[type="text"] {
    color: black !important;
}


